
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ webrootURL }}/public/media/{{ channel }}/image3.png" alt="{{ 'pricing.section3.image.alt'|trans }}" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2 class="text-primary">{{ 'pricing.section3.titre'|trans }}</h2>
            <p>{{ 'pricing.section3.description'|trans({'%companyName%': companyName}) }}</p>
            <ul class="list-unstyled">
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item2'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item3'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item4'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item5'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item6'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item7'|trans }}
                </li>
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ 'pricing.section3.item8'|trans }}
                </li>
            </ul>
        </div>
    </div>
</section>
