<section class="container my-5">
    <h2 class="text-primary text-center">{{ 'section6.titre'|trans }}</h2>

    <div class="row justify-content-center">

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ 'section6.plan1.titre'|trans }}</h3>
                    <p>{{ 'section6.plan1.prix'|trans }}</p>
                    <small>{{ 'section6.plan1.origine'|trans }}</small>
                    <br>
                    <button class="btn btn-warning my-5">{{ 'section6.plan1.bouton'|trans }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ 'section6.plan2.titre'|trans }}</h3>
                    <p>{{ 'section6.plan2.prix'|trans }}</p>
                    <small>{{ 'section6.plan2.origine'|trans }}</small>
                    <br>
                    <button class="btn btn-warning my-5">{{ 'section6.plan2.bouton'|trans }}</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ 'section6.plan3.titre'|trans }}</h3>
                    <p>{{ 'section6.plan3.prix'|trans }}</p>
                    <small>{{ 'section6.plan3.origine'|trans }}</small>
                    <br>
                    <button class="btn btn-warning my-5">{{ 'section6.plan3.bouton'|trans }}</button>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center mt-4">
        <small>{{ 'section6.tva'|trans }}</small>
        <p>{{ 'section6.credits'|trans }}</p>
        <div class="d-flex justify-content-center">
            <img src="https://place-hold.it/80x30" alt="{{ 'section6.visa'|trans }}" class="me-2">
            <img src="https://place-hold.it/80x30" alt="{{ 'section6.mastercard'|trans }}" class="me-2">
            <img src="https://place-hold.it/80x30" alt="{{ 'section6.amex'|trans }}" class="me-2">
            <img src="https://place-hold.it/80x30" alt="{{ 'section6.discover'|trans }}" class="me-2">
            <img src="https://place-hold.it/80x30" alt="{{ 'section6.paypal'|trans }}" class="me-2">
        </div>
    </div>
</section>
