<section class="my-5 text-center bg-white py-5">
    <div class="container">
        <h2 class="text-primary">{{ 'pricing.section2.titre'|trans }}</h2>
        <p>{{ 'pricing.section2.sous-titre'|trans }}</p>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="icon-box">
                    <i class="bi bi-car-crash"></i>
                    <h4>{{ 'pricing.section2.advantage1.titre'|trans }}</h4>
                    <p>{{ 'pricing.section2.advantage1.description'|trans }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <i class="bi bi-people-fill"></i>
                    <h4>{{ 'pricing.section2.advantage2.titre'|trans }}</h4>
                    <p>{{ 'pricing.section2.advantage2.description'|trans }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <i class="bi bi-currency-euro"></i>
                    <h4>{{ 'pricing.section2.advantage3.titre'|trans }}</h4>
                    <p>{{ 'pricing.section2.advantage3.description'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
