
<section class=" py-5 bg-white">
    <div class="container">
        <h2 class="text-center">{{ (channel ~ '.pricing.section4.titre')|trans|raw }}</h2>
        <div class="accordion" id="faqAccordion">
        {% for i in 1..7 %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ i }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ i }}" aria-expanded="false" aria-controls="collapse{{ i }}">
                        {{ ('pricing.section4.question' ~ i) | trans({'%companyName%': companyName}) }}
                    </button>
                </h2>
                <div id="collapse{{ i }}" class="accordion-collapse collapse" aria-labelledby="heading{{ i }}" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        {{ ('pricing.section4.reponse' ~ i) | trans({'%companyName%': companyName}) }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
