
<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{{ webrootURL }}/public/media/{{ channel }}/image3.png" alt="{{ (channel ~ '.pricing.section3.image.alt')|trans|raw }}" class="img-fluid rounded">
        </div>
        <div class="col-md-6">
            <h2 class="text-primary">{{ (channel ~ '.pricing.section3.titre')|trans|raw }}</h2>
            <p>{{ (channel ~ '.pricing.section3.description')|trans({'%companyName%': companyName})|raw }}</p>
            <ul class="list-unstyled">
              {% for i in 1..8 %}
                <li>
                    <i class="bi bi-check-circle-fill text-primary me-2"></i> {{ (channel ~ '.pricing.section3.item' ~ i )|trans|raw }}
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</section>
