<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>{{ 'footer_company_name' | trans }}</h5>
        <p>{{ 'footer_expertise' | trans }}</p>
      </div>
      <div class="col-md-3">
        <h5>{{ 'footer_society' | trans }}</h5>
        <ul class="list-unstyled">
          <li><a href="#home" class="text-white">{{ 'footer_home' | trans }}</a></li>
          <li><a href="#prix" class="text-white">{{ 'footer_prix' | trans }}</a></li>
          <li><a href="#aide" class="text-white">{{ 'footer_aide' | trans }}</a></li>
          <li><a href="#contact" class="text-white">{{ 'footer_contact' | trans }}</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>{{ 'footer_legal' | trans }}</h5>
        <ul class="list-unstyled">
          <li><a href="#confidentialité" class="text-white">{{ 'footer_confidentiality' | trans }}</a></li>
          <li><a href="#mentions_légales" class="text-white">{{ 'footer_legal_mentions' | trans }}</a></li>
          <li><a href="#cgv" class="text-white">{{ 'footer_cgv' | trans }}</a></li>
          <li><a href="#cookies" class="text-white">{{ 'footer_cookie_policy' | trans }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
