<header class="bg-white">
    <div class="alert bg-primary py-1 border-0 rounded-0">
        <div class="container text-center">
            <span>{{ 'header.souscription'|trans }}</span>
        </div>
    </div>
    <div class="container d-flex justify-content-between align-items-center py-2">
        <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="{{ webrootURL }}/public/media/logo.png" alt="{{ 'header.logo.alt'|trans }}" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">{{ 'header.prix'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">{{ 'header.aide'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">{{ 'header.actualites'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">{{ 'header.contact'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <div>
            <button class="btn btn-warning">{{ 'header.connexion'|trans }}</button>
            <span class="text-dark">{{ 'header.langue'|trans }}</span>
        </div>
    </div>
</header>
