<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="path/to/logo.png" alt="{{ 'navbar_logo_alt' | trans }}" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ 'navbar_toggle_label' | trans }}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">{{ 'navbar_home' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#price">{{ 'navbar_price' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aide">{{ 'navbar_aide' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">{{ 'navbar_contact' | trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning" href="#connexion">{{ 'navbar_connexion' | trans }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
