<div class="col-md-3 text-light ">
    <h4>{{ (channel ~ '.footer.sections.societe.titre')|trans|raw  }}</h4>
    <ul class="list-unstyled">
        <li>{{ (channel ~ '.footer.sections.societe.home')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.societe.prix')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.societe.aide')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.societe.contact')|trans|raw  }}</li>
    </ul>
</div>

<div class="col-md-3 text-light ">
    <h4>{{ (channel ~ '.footer.sections.legal.titre')|trans|raw  }}</h4>
    <ul class="list-unstyled">
        <li>{{ (channel ~ '.footer.sections.legal.confidentialite')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.legal.mentions_legales')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.legal.cgv')|trans|raw  }}</li>
        <li>{{ (channel ~ '.footer.sections.legal.cookies')|trans|raw  }}</li>
    </ul>
</div>
