<section class="container my-5">
     <div class="row">
         <div class="col-md-6">
             <h2 class="text-primary">{{ 'checkout.section2.titre'|trans }}</h2>
             <p>{{ 'checkout.section2.description'|trans }}</p>
             <p>
                 {{ 'checkout.section2.paragraph1'|trans }} <strong>{{ 'checkout.section2.important1'|trans }}</strong>.
             </p>
             <p>
                 {{ 'checkout.section2.paragraph2'|trans }} <strong>{{ 'checkout.section2.important2'|trans }}</strong>.
             </p>
         </div>
         <div class="col-md-6  d-flex justify-content-end">
             <img src="https://place-hold.it/460x570" alt="{{ 'checkout.section2.image.alt'|trans }}" class="img-fluid rounded">
         </div>
     </div>
</section>
