<section class="bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ webrootURL }}/public/media/{{ channel }}/image2.png" alt="{{ 'checkout.section4.image.alt'|trans }}" class="img-fluid rounded">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-primary">{{ 'checkout.section4.titre'|trans }}</h2>
                <p>{{ 'checkout.section4.description'|trans }}</p>
                <p>{{ 'checkout.section4.paragraph2'|trans }}</p>
            </div>
        </div>
    </div>
</section>
