<section class="container my-5">
     <div class="row">
         <div class="col-md-6 d-flex flex-column justify-content-center">
             <h2 class="text-primary">{{ 'checkout.section3.titre'|trans }}</h2>
             <p>{{ 'checkout.section3.description'|trans({'%companyName%': companyName}) }}</p>
             <p>{{ 'checkout.section3.paragraph1'|trans }} <strong>{{ 'checkout.section3.important1'|trans }}</strong>.</p>
             <p>{{ 'checkout.section3.paragraph2'|trans({'%companyName%': companyName}) }} <strong>{{ 'checkout.section3.important2'|trans }}</strong>.</p>
         </div>
         <div class="col-md-6  d-flex justify-content-end">
             <img src="{{ webrootURL }}/public/media/{{ channel }}/image1.png" alt="{{ 'checkout.section3.image.alt'|trans }}" class="img-fluid rounded">
         </div>
     </div>
</section>
