<section class="container my-5">
      <div class="row">
        <div class="col-md-6">
            <img src="https://place-hold.it/460x570" alt="{{ 'checkout.section1.image.alt'|trans }}" class="img-fluid rounded">
        </div>
          <div class="col-md-6">
              <h2 class="text-primary">{{ 'checkout.section1.titre'|trans }}</h2>
              <p>{{ 'checkout.section1.description'|trans }}</p>
              <ul class="list-unstyled">
                  <li>
                      <i class="bi bi-car-crash text-primary me-2"></i> {{ 'checkout.section1.item1'|trans }}
                  </li>
                  <li>
                      <i class="bi bi-people-fill text-primary me-2"></i> {{ 'checkout.section1.item2'|trans }}
                  </li>
                  <li>
                      <i class="bi bi-currency-euro text-primary me-2"></i> {{ 'checkout.section1.item3'|trans }}
                  </li>
              </ul>
          </div>
      </div>
  </section>
