<section class="my-5">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-6">
                <h2 class="text-primary">{{ (channel ~ '.legals.section1.titre')|trans|raw }}</h2>
                <h3 class="text-dark">{{ (channel ~ '.legals.section1.sous-titre')|trans|raw }}</h3>
                <p>{{ (channel ~ '.legals.section1.description')|trans|raw({'%companyName%': companyName}) }}</p>
            </div>
            <div class="col-md-6">
                <img src="{{ webrootURL }}/public/media/{{ channel }}/4058699_2132542.png" alt="{{ (channel ~ '.home.section1.image.alt')|trans|raw }}" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>
