<section class="py-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-sm-2 order-lg-1">
                <ul class="list-group">
                    {% for i  in 1..4 %}
                    <li class="list-group-item border-0 d-flex align-items-start bg-light border-bottom">
                        <img src="{{ webrootURL }}/public/media/{{ channel }}/bullet.png" alt="" class="lazyload pt-3">
                        <div class="p-3">
                          <strong>{{ (channel ~ '.home.section4.item' ~ i ~ '.titre')|trans|raw }}</strong>
                          <p class="pb-0">{{ (channel ~ '.home.section4.item' ~ i ~ '.description')|trans|raw }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 justify-content-center d-flex align-items-center order-sm-1 order-lg-2">
                <div class="">
                    <h2 class="text-primary">{{ (channel ~ '.home.section4.titre')|trans|raw }}</h2>
                    <h3 class="text-dark">{{ (channel ~ '.home.section4.sous-titre')|trans|raw }}</h3>
                    <p>{{ (channel ~ '.home.section4.description')|trans|raw }}</p>
                    <button type="submit" class="btn btn-warning text-light rounded-0">Obtenez votre rapport</button>
                </div>
            </div>
        </div>
    </div>
</section>
