<section class="py-5 hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h2 class="text-primary">{{ (channel ~ '.home.section3.titre')|trans|raw }}</h2>
                    <h3 class="text-dark">{{ (channel ~ '.home.section3.sous-titre')|trans|raw }}</h3>
                    <p>{{ (channel ~ '.home.section3.description')|trans|raw }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    {% for i  in 1..4 %}
                    <li class="list-group-item border-0 d-flex align-items-start bg-light border-bottom">
                        <img src="{{ webrootURL }}/public/media/{{ channel }}/bullet.png" alt="" class="lazyload pt-3">
                        <div class="p-3">
                          <strong>{{ (channel ~ '.home.section3.item' ~ i ~ '.titre')|trans|raw }}</strong>
                          <p class="pb-0">{{ (channel ~ '.home.section3.item' ~ i ~ '.description')|trans|raw }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
