{% extends 'modals/modal-layout.twig' %}

{% block modalID %}{{ modalIds.modal3 }}{% endblock %}

{% block modalLabel %}{{ modalIds.modal3 }}Label{% endblock %}

{% block modalHeader %}
    {% include 'modals/partials/modal-header.twig' with {'id': modalIds.modal3 ~ 'Label', 'title': "thank_you_for_participating"|trans} %}
{% endblock %}

{% block modalBody %}
    <div class="container text-center pt-5">
        <h2>{{ 'thank_you_for_participating'|trans }}</h2>
        <h5>{{ 'still_wish_to_unsubscribe'|trans }}</h5>
        <div class="d-flex justify-content-center my-5">
            <button class="btn btn-success btn-lg">{{ 'no_changed_my_mind'|trans }}</button>
            <button class="btn btn-link text-dark">{{ 'yes_still_wish_to_unsubscribe'|trans }}</button>
        </div>
    </div>
{% endblock %}

{% block modalFooter %}
  {{ parent() }}
{% endblock %}
