<div class="col-md-12 text-dark mt-3 order-3">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.societe.home')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.societe.prix')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.societe.aide')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.societe.contact')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.legal.confidentialite')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.legal.mentions_legales')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.legal.cgv')|trans|raw  }}</li>
        <li class="list-group-item border-0 bg-transparent px-4 fw-light"><i class="fa-solid fa-angle-right text-secondary"></i> {{ (channel ~ '.footer.sections.legal.cookies')|trans|raw  }}</li>
    </ul>
</div>
