<section class="text-center py-5 bg-light">
   <div class="container">
       <div class="d-flex justify-content-center mb-4">
           <div class="me-3 text-muted">
               {{ 'section1.stats1'|trans }}
           </div>
           <div class="me-3 text-muted">
               {{ 'section1.stats2'|trans }}
           </div>
           <div class="text-muted">
               {{ 'section1.stats3'|trans }}
           </div>
       </div>
       <h1 class="text-primary">{{ 'section1.titre'|trans }}</h1>
       <p class="lead">{{ 'section1.sous-titre'|trans }}</p>
       <div class="my-4">
           <input type="text" class="form-control w-50 mx-auto" placeholder="{{ 'section1.placeholder'|trans }}">
       </div>
       <button class="btn btn-warning btn-lg">{{ 'section1.bouton'|trans }}</button>
       <div class="mt-4">
           <img src="https://place-hold.it/580x380" alt="{{ 'section1.image.alt'|trans }}" class="img-fluid">
       </div>
   </div>
</section>
