<section class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h2 class="text-primary">{{ 'home.section5.titre'|trans }}</h2>
            <p>{{ 'home.section5.description'|trans }}</p>
            <input type="text" class="form-control w-50" placeholder="{{ 'home.section5.placeholder'|trans }}">
            <button class="btn btn-warning mt-3">{{ 'home.section5.bouton'|trans }}</button>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
            <img src="{{ webrootURL }}/public/media/{{ channel }}/car1-big.png" alt="{{ 'home.section5.image.alt'|trans }}" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-center mt-5 py-5">
        {% for i in 1..8 %}
            <div class="col-auto">
                <img src="{{ webrootURL }}/public/media/{{ channel }}/logocar{{i}}.png" alt="{{ 'home.section5.logo'~ i ~'.alt'|trans }}" class="img-fluid">
            </div>
        {% endfor %}
    </div>
</section>
