
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ (channel ~ '.home.title')|trans|raw }}</title>
    <link rel="stylesheet" href="{{ webrootURL }}/public/css/{{ channel }}.css">
    {% block stylesheets %}
    {% endblock %}

    <!-- Via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>

    {% include 'partials/trackers/analytics.twig' %}

    {% include 'partials/trackers/gtag.twig' %}
</head>
<body class="d-flex flex-column min-vh-100">
{% block header %}
    {% include 'partials/header.twig' %}
{% endblock %}

<main role="main" class="flex-grow-1">

    {% block content %}
    {% endblock %}

</main>

{% block modals %}
{% endblock %}


{% block footer %}
    {% include 'partials/footer.twig' %}
{% endblock %}

<!-- Inclure vos scripts JavaScript ici -->
<script src="{{ webrootURL }}/public/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
